<script>
  window.productPicker = function() {
    ShopifyApp.Modal.productPicker({selectMultiple: true},
      function(success, result) {
        if(!success){ return; }
        product_ids = result.products.map(function(p) { return "ids%5B%5D=" + p.id }).join("&")
        url = "/products?" + product_ids
        ShopifyApp.Bar.loadingOn()
        window.location = url
      }
    );
  }
</script>

<p>
  <a href="#" class="btn btn-default" onclick="productPicker()">
    <i class="fa fa-plus-circle"></i> Add a product
  </a>
</p>
