<form method="GET" action="/" role="form" class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-search"></i>
      </div>
      <input type="text"
             class="form-control"
             style="width: 400px;"
             name="<%= search_param_name %>"
             placeholder="Search"
             value="<%= search_param %>">
    </div>
  </div>

  <button type="submit" class="btn btn-default">Search</button>
</form>
