<div class="well" style="padding-bottom: 50px;">
  <form method="POST" action="/charity" role="form" style="max-width: 320px;">
    <% if charity.present? %>
      <input type="hidden" name="_method" value="put" />
    <% end %>

    <div class="form-group">
      <label for="name">Charity Name</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-university" style="width: 20px;"></i>
        </div>
        <input type="text"
               class="form-control"
               name="name"
               placeholder="eg. Amnesty International"
               <%= "value=\"#{charity.name}\"".html_safe if charity.present? %>>
      </div>
    </div>

    <div class="form-group">
      <label for="charity_id">Charity ID</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-hashtag" style="width: 20px;"></i>
        </div>
        <input type="text"
               class="form-control"
               name="charity_id"
               placeholder="Tax ID # eg. 804"
               <%= "value=#{charity.charity_id}" if charity.present? %>>
      </div>
    </div>

    <div class="form-group">
      <label for="donation_id_prefix">Donation ID Prefix</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-tag" style="width: 20px;"></i>
        </div>
        <input type="text"
               class="form-control"
               name="donation_id_prefix"
               placeholder="Donation ID Prefix eg. #"
               <%= "value=#{charity.donation_id_prefix}" if charity.present? %>>
      </div>
    </div>

    <div class="form-group">
      <label for="receipt_threshold">Receipt Threshold</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-thermometer-half" style="width: 20px;"></i>
        </div>
        <input type="text"
               class="form-control"
               name="receipt_threshold"
               placeholder="Receipt threshold"
               <%= "value=#{charity.receipt_threshold}" if charity.present? %>>
      </div>
      <span class="help-block">Only send receipts for donations greater than a certain amount</span>
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-primary pull-right" value="save">
    </div>
  </form>
</div>
