<ul class="nav nav-tabs" id="tabs">
  <li class="active">
    <a href="#products">Products</a>
  </li>
  <li>
    <a href="#donations">Donations</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="products">
    <br>
    <%= partial 'products', locals: {products: products} %>
  </div>
  <div class="tab-pane" id="donations">
    <br>
    <%= partial 'donations', locals: {donations: donations} %>
  </div>
</div>

<script>
  $('#tabs a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
</script>
