<div class="modal fade" id="editEmailModal">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Edit "Donation Receipt" Email Template</h4>
    </div>

    <form method="POST" action="/charity" role="form">
      <div class="modal-body">
        <input type="hidden" name="_method" value="put" />
        <label for="subject">Email subject</label>

        <input type="text" name="email_subject" value="<%= charity.email_subject %>" disabled="true" style="width: 97%"/>
        <hr>
        <textarea name="email_template" rows="12" style="width: 97%"><%= charity.email_template %></textarea>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>

  </div>
</div>

