<h3>Tax Receipts</h3>

<%= erb :"_charity", layout: false, locals: {charity: @charity} %>

<% if @charity.present? %>
  <%= erb :_email_modals, locals: {shop: @shop, charity: @charity} %>
<% end %>

<% if @charity.present? %>
  <%= erb :_product_picker %>
<% end %>

<%= erb :"_products", layout: false, locals: {products: @products} %>
