<% if @charity.blank? %>
  <div class="alert alert-warning" role="alert" style="margin-top: 15px;">
    <p>Please Enter your Charity details to complete the installation</p>
  </div>
<% end %>

<div class="alert alert-danger" role="alert">
  <p><strong>Kevin's Tax Receipts App is shutting down</strong> see:</p>
  <ul>
    <li><a href="https://raw.githubusercontent.com/kevinhughes27/shopify-tax-receipts/master/public/announcement_one.txt">announcement one</a></li>
    <li><a href="https://raw.githubusercontent.com/kevinhughes27/shopify-tax-receipts/master/public/announcement_two.txt">announcement two</a></li>
  </ul>
</div>

<%= partial 'tabs',
  locals: {
    tab: @tab,
    shop: @shop,
    charity: @charity,
    products: @products,
    product_search: @product_search,
    donations: @donations,
    donation_search: @donation_search,
    order_ids: @order_ids
  }
%>
