<script>
ShopifyApp.ready(function(){
  ShopifyApp.Bar.setTitle('Webhooks')
});
</script>

<h3>Webhooks</h3>

<table class="table table-striped table-hover">
  <tbody>
    <% @webhooks.each do |webhook| %>
      <tr>
        <td><%= webhook.id %></td>
        <td><%= webhook.topic %></td>
        <td><%= webhook.address %></td>
        <td>
          <form method="POST" action="/webhooks">
            <input type="hidden" name="_method" value="delete" />
            <input type="hidden" name="id" value="<%= webhook.id %>" />
            <input type="submit" class="btn btn-default align-right" value="delete">
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
