html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

.modal-backdrop, .modal-backdrop.fade.in {
  background-color: rgba(0,0,0,0);
}

.action-btn {
  min-width: 200px;
  text-align: left;
}

.list_actions {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.blank-list {
  text-align: center;
  padding-top: 20px;
}
